.blog-grid-sct-wrap{
	margin-top: -152px;
	padding-bottom: 75px;
}
.blog-grid-sct-inner ul{
	margin-left: -27px;
	margin-right: -27px;
}
.blog-grid-sct-inner ul li{
	float: left;
	width: 50%;
	padding-left: 27px;
	padding-right: 27px;
	margin: 0;
}

.blog-grid-img-ctlr{
	overflow: hidden;
}
.blog-grid-img,
.bbgs-img{
	min-height: 220px;
	height: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}
.blog-grd-des{
	padding: 0 25% 0 40px;
}
.blog-grd-des h4{
	margin: 0;
	line-height: 49px;
	font-weight: normal;
	padding-top: 20px;
	margin-bottom: 15px;
	padding-right: 40px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.blog-grd-des h4 a{
	color: #3B3B3B;
}
.blog-grd-des p{
	line-height: 28px;
	padding-bottom: 37px;
}
.blog-grid-sct,
.blog-btm-grid-sct{
	border: 2px solid #d0d7ab;
	mix-blend-mode: normal;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.blog-grid-sct,
.blog-btm-grid-sct{
	position: relative;
}
.blog-grid-sct:hover .blog-grid-img,
.blog-btm-grid-sct:hover .bbgs-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.blog-grid-sct:hover .blog-grd-des h4 a,
.blog-btm-grid-sct:hover .blog-grd-des h4 a{
	color: #8D9E2F;
}
.blog-grid-sct:hover,
.blog-btm-grid-sct:hover{
	border: 2px solid #8D9E2F;
} 


.blog-btm-grid-sct-wrap{
	padding-top: 60px;
}
.blog-btm-grid-sct-inner ul{
	margin-left: -27px;
	margin-right: -27px;
}
.blog-btm-grid-sct-inner ul li{
	float: left;
	width: 50%;
	padding-left: 27px;
	padding-right: 27px;
	padding-bottom: 56px;
	margin: 0;
}



.blz-load-more-btn{
	text-align: center;
	padding-bottom: 95px;
}
.blz-load-more-btn a{
	font-family: 'Abril Fatface', cursive;
    display: inline-block;
    vertical-align: baseline;
    font-size: 26px;
    line-height: 35px;
    color: #8D9E2F;
}
.blz-load-more-btn a i{
	display: inline-block;
    vertical-align: baseline;
    width: 77px;
    height: 79px;
    border: 2px solid #8D9E2F;
    border-radius: 100%;
    position: relative;
    text-align: center;
}
.blz-load-more-btn a i img{
	position: absolute;
    top: 50%;
    line-height: 20px;
    width: 26px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.blz-load-more-btn a span{
	display: block;
    margin-top: 5px;
}

.blz-load-more-btn a:hover{
	opacity: 0.7;
}


.blog-page-bnr-sec{
	overflow: hidden;
}
.blog-page-bnr-sec-inner{
	padding-top: 215px;
}
.blog-page-bnr-sec-inner h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
}
.page-banner-con{
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.special-products-des h4{
	line-height: 65px;
	color: #8D9E2F;
	margin-bottom: 30px;
}





@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.blog-grid-sct-wrap {
	    margin-top: -130px;
	    padding-bottom: 65px;
	}
	.blog-grid-sct-inner ul,
	.blog-btm-grid-sct-inner ul{
	    margin-left: -20px;
	    margin-right: -20px;
	}
	.blog-grid-sct-inner ul li,
	.blog-btm-grid-sct-inner ul li{
		padding-left: 20px;
		padding-right: 20px;
	}
	.blog-btm-grid-sct-inner ul li{
		padding-bottom: 40px;
	}
	.blog-grd-des{
		padding-right: 8%;
	}
	.blog-grd-des h4 {
	    line-height: 45px;
	    padding-top: 15px;
	    margin-bottom: 12px;
	    font-size: 35px;
	    padding-right: 80px;
	}
	.blog-grd-des p {
	    line-height: 25px;
	    padding-bottom: 42px;
	}
	.blz-load-more-btn {
		padding-bottom: 85px;
	}
	.special-products-des h4{
		margin-bottom: 25px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}


	.blog-grid-sct-wrap {
	    margin-top: -120px;
	    padding-bottom: 55px;
	}
	.blog-grid-sct-inner ul{
		margin-left: -15px;
	    margin-right: -15px;
	}
	.blog-grid-sct-inner ul li {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.blog-grd-des{
		padding-left: 30px;
		padding-right: 6%;
	}
	.blog-grd-des h4{
		padding-right: 30px;
	}
	.blog-grd-des p {
	    line-height: 22px;
	    padding-bottom: 30px;
	    font-size: 16px;
	}


	.blog-btm-grid-sct-wrap {
	    padding-top: 55px;
	}
	.blog-btm-grid-sct-inner ul{
		margin-left: -15px;
	    margin-right: -15px;
	}
	.blog-btm-grid-sct-inner ul li {
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 30px;
	}
	.blz-load-more-btn {
	    padding-bottom: 75px;
	    padding-top: 15px;
	}
	.special-products-des h4 {
	    margin-bottom: 15px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}

	.page-banner-con{
		min-height: 415px !important;
	}
	.blog-page-bnr-sec-inner h1{
		font-size: 70px;
	}

	.blog-grid-sct-wrap {
	    margin-top: 15px;
	    padding-bottom: 30px;
	}
	.blog-grid-sct-inner ul,
	.blog-btm-grid-sct-inner ul{
		margin-left: 0;
		margin-right: 0;
	}
	.blog-grid-sct-inner ul li,
	.blog-btm-grid-sct-inner ul li{
	    width: 100%;
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.blog-grid-sct,
	.blog-btm-grid-sct{
	    max-width: 450px;
	    width: 100%;
	    margin: 0 auto;
	}
	.blog-grd-des {
	    padding-right: 5%;
	}
	.blog-grd-des h4 {
	    line-height: 30px;
	    font-size: 25px;
	    padding-right: 0px;
	    padding-top: 10px;
    	margin-bottom: 8px;
	}
	.blog-grd-des p {
	    line-height: 20px;
	    font-size: 15px;
	    padding-bottom: 25px;
	}
	.blog-btm-grid-sct-wrap {
	    padding-top: 25px;
	}
	.blz-load-more-btn {
	    padding-bottom: 65px;
	    padding-top: 15px;
	}
	.blz-load-more-btn a i {
	    width: 70px;
	    height: 72px;
	}
	.special-products-des h4 {
	    margin-bottom: 10px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.page-banner-con {
	    min-height: 375px !important;
	}
	.blog-page-bnr-sec-inner h1 {
	    font-size: 60px;
	}
	.blog-grid-sct-inner ul li,
	.blog-btm-grid-sct-inner ul li{
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.blog-grd-des h4 {
	    line-height: 30px;
	    font-size: 22px;
	    padding-top: 10px;
	    margin-bottom: 5px;
	}
	.blog-grd-des p {
	    line-height: 18px;
	    font-size: 12px;
	    padding-bottom: 12px;
	}
	.blog-grid-sct-wrap,
	.blog-btm-grid-sct-wrap{
	    padding-bottom: 35px;
	}
	.blz-load-more-btn {
	    padding-bottom: 50px;
	}
	.special-products-des h4 {
	    margin-bottom: 5px;
	}

}

@media(max-width: 479px){
	.blog-grd-des{
		padding-left: 20px;
	}
	.blog-grd-des h4 {
	    line-height: 25px;
	    font-size: 18px;
	    padding-top: 8px;
	}
	.blog-grd-des p {
	    line-height: 14px;
	    font-size: 10px;
	    padding-bottom: 5px;
	}
	.blog-grid-sct-wrap {
	    padding-bottom: 25px;
	}
	.blz-load-more-btn {
	    padding-bottom: 40px;
	}
	.blog-page-bnr-sec-inner h1 {
	    font-size: 50px;
	}

}

@media(max-width: 359px){

}


