/*
----------------
hm-product-sec-wrp
----------------
*/
.sweet-potato-block{
	background:#fff;
	margin-top: -285px;
	padding-top: 40px;
}
.sweet-potato-head{
	border-bottom: 1px dashed #3B3B3B;
}
.sweet-back{
	max-width: 200px;
	width: 100%;
	float: left;
}
.sweet-back a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    color: #8D9E2F;
    text-transform: uppercase;
    float: right;
    font-family: 'Abril Fatface', cursive;
}
.sweet-back span {
    display: inline-block;
    vertical-align: baseline;
    float: right;
    margin-top: -8px;
}
.sweet-potato-head h4{
	float: left;
	width: 100%;
	padding-left: 95px;
	margin: 0;
	color: #3B3B3B;
	margin-top: 15px;
	margin-bottom: 33px;
}
.sweet-potato-img{
	text-align: center;
	padding-top: 50px;
}
.sweet-potato-dsc{
	padding: 35px 58px 85px;
	text-align: center;
}
.sweet-potato-dsc h6{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	border-bottom: 1px dashed #979797;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 18px;
	margin-bottom: 28px;
}
.sweet-potato-dsc p{
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 32px;
	color: #3B3B3B;
	font-weight: 300;
}
/*
-------------------
sp-content-sec-wrp
-------------------
*/
.sp-content-sec-wrp{
	padding-bottom: 40px;
}
.sp-content-rgt,
.sp-content-lft{
	float: left;
	text-align: center;
}
.sp-content-lft{
	width: 45%;
}
.sp-content-rgt{
	width: 55%;
}
.sp-content-rgt h6,
.sp-content-lft h6{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	color: #3B3B3B;
	font-family: 'Abril Fatface', cursive;
	padding-bottom: 20px;
}
.sp-content-rgt > h6{
	max-width: 495px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px dashed #979797;
}
.sp-btm-dsc{
	font-size: 20px;
	line-height: 32px;
	color: #3B3B3B;
}
.sp-btm-dsc p{
	margin-bottom: 30px;
}
.sp-btm-dsc-lft{
	background:#EAEAEA;
	padding: 32px 20px 25px;
}

.sp-btm-dsc-rgt{
	padding-left: 65px;
	padding-top: 45px;
}
.sp-btm-dsc-rgt h6{
	margin: 0 !important;
	font-size: 20px;
	line-height: 22px;
	color: #3B3B3B;;
	font-weight: 300;
}
.bl-product-btn{
	padding-top: 60px;
}
.bl-product-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	max-width: 330px;
	width: 100%;
	margin: 0 auto;
	background: #8D9E2F;
	border-radius: 100px;
	padding: 14px 60px 15px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.bl-product-btn a:hover{
	background: #546303;
}
.blog-sec-wrp .hm-product-head {
    padding-bottom: 35px;
}
/*
----------------------
 Responsive Css
----------------------
*/


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.sweet-potato-dsc {
	    padding: 35px 40px 60px;
	}
	.sp-btm-dsc-rgt p br{
		display: none;
	}
	.sweet-potato-img {
	    padding-left: 15px;
	    padding-right: 15px;
	}
}

@media(max-width: 991px){
	.sweet-potato-dsc {
	    padding: 35px 30px 50px;
	}
	.sp-content-rgt > h6 {
	    max-width: 350px;
	}
	.sweet-potato-head h4 {
	    line-height: 48px;
	}


	
}

@media(max-width: 767px){
	.sweet-potato-head h4 {
	    padding-left: 15px;
	    padding-right: 15px;
	    line-height: 48px;
	}
	
	.sweet-potato-dsc {
	    padding: 35px 15px 30px;
	}
	.sweet-potato-dsc p{
	    margin-bottom: 20px;
	    font-size: 18px;
	    line-height: 30px;
	}
	.sp-content-lft {
	    width: 100%;
	    padding-bottom: 40px;
	}
	.sp-content-rgt {
	    width: 100%;
	}
	.sp-btm-dsc-rgt {
	    padding-left: 0;
	    padding-top: 30px;
	}
	.sp-btm-dsc p {
	    margin-bottom: 20px;
	}
	.sp-btm-dsc-lft {
	    padding: 30px 10px 25px;
	}
	.sp-content-sec-wrp {
	    padding-bottom: 0;
	}
	.bl-product-btn {
	    padding-top: 40px;
	}
}

@media(max-width: 575px){
	.sp-btm-dsc p {
	    margin-bottom: 15px;
	}
	.bl-product-btn a {
	    padding: 14px 40px 15px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}