.blog-grid-sct-wrap{
	margin-top: -152px;
	padding-bottom: 75px;
}
.blog-grid-sct-inner ul li{
	float: left;
	width: 50%;
	padding-left: 27px;
	padding-right: 27px;
}
.blog-grid-sct-inner ul li:first-child{
	padding-left: 0;
}
.blog-grid-sct-inner ul li:last-child{
	padding-right: 0;
}
.blog-grid-img,
.bbgs-img{
	min-height: 220px;
	height: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}
.blog-grid-title h4{
	margin: 0;
	line-height: 49px;
	font-weight: normal;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 40px;
}
.blog-grid-title h4 a{
	color: #3B3B3B;
}
.blog-grid-desc p{
	margin: 0;
	line-height: 28px;
	padding-left: 40px;
	padding-bottom: 47px;
}
.blog-grid-sct,
.blog-btm-grid-sct{
	border: 2px solid #8D9E2F;
	mix-blend-mode: normal;
}
.blog-grid-sct,
.blog-btm-grid-sct{
	position: relative;
	overflow: hidden;
}
.blog-grid-sct:hover .blog-grid-img,
.blog-btm-grid-sct:hover .bbgs-img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}


.blog-btm-grid-sct-wrap{
	padding-top: 60px;
}
.blog-btm-grid-sct-inner ul li{
	float: left;
	width: 50%;
	padding-left: 27px;
	padding-right: 27px;
	padding-bottom: 56px;
}
.blog-btm-grid-sct-inner ul li:nth-child(2n+1){
	padding-left: 0px;
	clear: left;
}
.blog-btm-grid-sct-inner ul li:nth-child(2n+2){
	padding-right: 0px;
}


.blz-load-more-btn{
	text-align: center;
	padding-bottom: 95px;
}
.blz-load-more-btn a{
	font-family: 'Abril Fatface', cursive;
    display: inline-block;
    vertical-align: baseline;
    font-size: 26px;
    line-height: 35px;
    color: #8D9E2F;
}
.blz-load-more-btn a i{
	display: inline-block;
    vertical-align: baseline;
    width: 77px;
    height: 79px;
    border: 2px solid #8D9E2F;
    border-radius: 100%;
    position: relative;
    text-align: center;
}
.blz-load-more-btn a i img{
	position: absolute;
    top: 50%;
    line-height: 20px;
    width: 26px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.blz-load-more-btn a span{
	display: inline-block;
    vertical-align: baseline;
    margin-top: 10px;
}
.blz-load-more-btn a:hover img{
	top: 57%;
}





@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.blog-grid-sct-wrap {
	    margin-top: -130px;
	    padding-bottom: 65px;
	}
	.blog-grid-sct-inner ul li{
		padding-left: 20px;
		padding-right: 20px;
	}
	.blog-grid-title h4 {
	    line-height: 45px;
	    padding-top: 15px;
	    padding-bottom: 12px;
	    font-size: 35px;
	}
	.blog-grid-desc p {
	    line-height: 25px;
	    padding-bottom: 42px;
	}
	.blz-load-more-btn {
		padding-bottom: 85px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.blog-grid-sct-wrap {
	    margin-top: -120px;
	    padding-bottom: 55px;
	}
	.blog-grid-sct-inner ul li {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.blog-grid-title h4{
		padding-left: 30px;
	}
	.blog-grid-desc p {
	    line-height: 22px;
	    padding-bottom: 30px;
	    font-size: 16px;
	    padding-left: 30px;
	}


	.blog-btm-grid-sct-wrap {
	    padding-top: 55px;
	}
	.blog-btm-grid-sct-inner ul li {
	    padding-left: 25px;
	    padding-right: 25px;
	    padding-bottom: 50px;
	}
	.blz-load-more-btn {
	    padding-bottom: 75px;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.blog-grid-sct-wrap {
	    margin-top: 0px;
	    padding-bottom: 45px;
	}
	.blog-grid-sct-inner ul li:first-child {
	    padding-left: 10px;
	    padding-top: 20px;
	}
	.blog-grid-sct-inner ul li {
	    width: 100%;
	    padding-bottom: 10px;
	    padding-top: 10px;
	}
	.blog-grid-sct-inner ul li:last-child {
	    padding-right: 10px;
	}
	.blog-grid-title h4 br,
	.blog-grid-desc p br{
	    display: none;
	}
	.blog-grid-title h4 {
	    line-height: 40px;
	    font-size: 33px;
	}
	.blog-grid-desc p {
	    line-height: 20px;
	    font-size: 15px;
	}
	.blog-btm-grid-sct-inner ul li {
	    width: 100%;  
	    padding-bottom: 30px; 
	}
	.blog-btm-grid-sct-inner ul li:nth-child(1n+1) {
	    padding-right: 10px;
	}
	.blog-btm-grid-sct-inner ul li:nth-child(1n+1) {
	    padding-left: 10px;
	}
	.blog-btm-grid-sct-wrap {
	    padding-top: 40px;
	}
	.blz-load-more-btn {
	    padding-bottom: 65px;
	}
	.blz-load-more-btn a i {
	    width: 70px;
	    height: 72px;
	}
	.blz-load-more-btn a span {
	    margin-top: 5px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.blog-grid-img, .bbgs-img {
	    min-height: 175px;
	}
	.blog-grid-title h4 {
	    line-height: 35px;
	    font-size: 28px;
	    padding-top: 10px;
        padding-bottom: 8px;
	}
	.blog-grid-desc p {
	    line-height: 18px;
	    font-size: 12px;
	    padding-bottom: 22px;
	}
	.blog-grid-sct-wrap {
	    padding-bottom: 35px;
	}
	.blog-btm-grid-sct-wrap {
	    padding-top: 35px;
	}
	.blog-btm-grid-sct-inner ul li {
	    padding-bottom: 20px;
	}
	.blz-load-more-btn {
	    padding-bottom: 50px;
	}

}

@media(max-width: 479px){
	.blog-grid-img, .bbgs-img {
	    min-height: 140px;
	}
	.blog-grid-title h4 {
	    line-height: 25px;
	    font-size: 18px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    padding-left: 20px;
	}
	.blog-grid-desc p {
	    line-height: 14px;
	    font-size: 10px;
	    padding-bottom: 15px;
	    padding-left: 20px;
	}
	.blog-grid-sct-wrap {
	    padding-bottom: 25px;
	}
	.blz-load-more-btn {
	    padding-bottom: 40px;
	}

}

@media(max-width: 359px){

}


