/*
---------------------
footer-wrp
---------------------
*/
.ftr-top-wrp{
	padding-top: 42px;
	padding-bottom: 43px;
}
.ftr-col-innr{
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
}
.ftr-menu-item{
	width: 41.5%;
	float: left;
}

.ftr-contact{
	width: 17%;
	float: right;
	padding-left: 30px;
}
.ftr-contact h5,
.ftr-menu-item h5{
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	color: #9D9D9D;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}
.ftr-contact h5{
	text-transform: capitalize;
	margin-bottom: 8px;
}
.ftr-menu-item ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ftr-menu-item ul li{
	font-size: 14px;
	line-height: 16px;
	padding: 5px 0;
}
.ftr-menu-item ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #4A4A4A;;
	font-weight: 400;
}
.ftr-btm-copy-right p > a:hover,
.ftr-contact a:hover,
.ftr-menu-item ul li a:hover{
	color: #8c9e26;
}
.ftr-contact a{
	display:block;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #4A4A4A;
	font-weight: 400;
	padding-bottom: 8px;
}
.ftr-middel-wrp{
	background:#8d9e2e;
	padding: 18px 0;
}
.ftr-middel-inr ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
.ftr-middel-inr ul li{
	float: left;
	font-size: 14px;
	line-height: 16px;
	position: relative;
	padding: 0 25px;
}
.ftr-middel-inr ul li:after{
	content: "";
	position: absolute;
	right: -1px;
	top: 1px;
	bottom: 0;
	width: 2px;
	height: 14px;
	background:#fff;
}
.ftr-middel-inr ul li:last-child:after{
	content: none;
}
.ftr-middel-inr ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-weight: 500;
	color: #fff;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-middel-inr ul li a:hover{
	color: #495603;
}
.ftr-btm-wrp{
	padding-bottom: 30px;
}
.ftr-btm-payment {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 30px;
}
.ftr-btm-payment a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	text-align: center;
}
.ftr-btm-copy-right{
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
}
.ftr-btm-copy-right p{
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	color: #8A8A8A;
	font-weight: 500;
	letter-spacing: -0.175px;
	float: left;
}
.ftr-btm-copy-right p > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
	padding-left: 7px;
}
.ftr-btm-copy-right > a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    line-height: 16px;
    float: right;
    margin-top: -2px;
}
.footer-singup-form-sec-wrp{
	background: #EBEBEB;
	padding: 55px 0 20px;
	position: relative;
}
.footer-singup-form-img{
	position: absolute;
	left: 0;
	top: 60px;
}
.footer-singup-form{
	max-width: 520px;
	width: 100%;
	float: right;
}
.footer-singup-form h5{
	margin: 0;
	margin-bottom: 18px;
	color: #3B3B3B;
}
.footer-singup-form input[type="email"]{
	width: 100%;
	border: 2px solid #3B3B3B;
	box-sizing: border-box;
	border-radius: 8px;
	font-size: 16px;
	line-height: 18px;
	color: #9D9D9D;
	font-weight: 500;
	height: 56px;
	padding: 20px 20px 20px 54px;
	background: transparent;
	position: relative;
	background-image: url(../images/email-icon.png);
	background-repeat: no-repeat;
	background-size: 16px 12px;
	background-position: left 18px top 22px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.footer-singup-form input[type="email"]:focus{
	border-color: #8a9d2a;
}

/* The container */
.checkbox .container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    color: #4A4A4A;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid #3B3B3B;
}
/* When the checkbox is checked, add a blue background */
.checkbox .container input:checked ~ .checkmark {
  border: 2px solid #3B3B3B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .container .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #3B3B3B;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox{
	padding-top: 12px;
	float: left;
	padding-left: 20px;
}
.checkbox a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #8a9d2a;
}
.footer-singup-form input[type=submit]{
	max-width: 162px;
	width: 100%;
	height: 56px;
	float: right;
	background: transparent;
	border: 2px solid #8D9E2F;
	box-sizing: border-box;
	border-radius: 28px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #8D9E2F;
	text-align: center;
	margin-top: 22px;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.footer-singup-form input[type=submit]:hover{
	background: #8a9d2a;
	color: #fff;
}
