
header.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}
.hdr-top-innr{
	position: relative;
	padding-left: 160px;
}
.header-logo{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.header-logo a{
    max-width:150px;
    display: inline-block;
    vertical-align: baseline;
}
.header-logo a img{
    width: 100%;
}
.hdr-rgt-acc{
    padding: 7px 0 8px;
}
.hdr-rgt-acc li{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px 8px 17px;
}
.hdr-rgt-acc li:nth-child(1){
	padding: 9px 40px 8px 0;
    border-right: 1px solid #fff;
}
.hdr-rgt-acc li:nth-child(2){
    padding: 7px 10px 8px 11px;
}
.hdr-rgt-acc li:nth-child(3){
    padding: 8px 3px 8px 22px;
	border-left: 1px solid #fff;    
}
.hdr-rgt-acc a {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
.hdr-rgt-acc a:hover{
    color: #ccc;
}
.hdr-rgt-acc li a img{
	padding-right: 4px;
}
.hdr-rgt-acc li:last-child a img{
	padding-right: 12px;
}
.hdr-menu-controller{
	height: 57px;
	background: #8D9E2F;
	position: relative;
} 

.hdr-menu-controller .col-sm-12{
	position: static!important;
}
.hdr-menu-innr {
    padding: 17px 0 15px 160px;
}

nav.main-nav > ul > li,
nav.main-nav > ul > li > a{
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul > li{
    padding: 0 34px;
}
nav.main-nav > ul > li:first-child{
    padding-left: 0;
}
nav.main-nav > ul > li:last-child{
    padding-right: 0;
}
nav.main-nav > ul > li:first-child{
    padding-left: 0;
}
nav.main-nav > ul > li > a {
	font-family: Roboto;
	font-weight: 500;
    display: inline-block;
    position: relative;
    vertical-align: baseline;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
    padding-bottom: 2px;
}
nav.main-nav > ul > li > a::after{
    border-bottom: 2px solid #fff;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    right: 0;
    position: absolute;
    top: 100%;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform-origin: center center 0;
    transition: all 0.15s ease-out 0s;
    width: 100%;
}
nav.main-nav > ul > li > a:hover::after{
    transform: scale(1, 1);
}
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
    background: #0000!important;
}




/*
	meaga mennu
*/


.mega-menu-wrap{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 99;
	transform: scale3d(1,0,1);
	-ms-transform: scale3d(1,0,1);
	-webkit-transform: scale3d(1,0,1);
	transition: all .7s;
	-ms-transition: all .7s;
	-webkit-transition: all .7s;
	transform-origin: top;
	-ms-transform-origin: top;
	-webkit-transform-origin: top;
	background: #FFFFFF;
	opacity: 0.93;
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
}


.mega-menu-con{
	max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 15px 50px;
    text-align: left!important;
}


li.menu-item-has-children:hover .mega-menu-wrap {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}

.mega-menu-col-item{
	width: 33.333%;
	float: left;
}

.mega-menu-col-item:nth-child(3n+1){
	clear: left;
}
.mega-menu-col-item > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



















@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
nav.main-nav > ul > li {
    padding: 0 18px;
}

}

@media(max-width: 991px){

	/*------ responsive nav ----*/

	.nav-opener{
	    cursor: pointer;
	    float: left;
	    position: absolute;
	    right: 25px;
	    top: 44%;
	    transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    padding-top: 0;
	    z-index: 20;
	}
	.nav-opener strong {
	    font-weight: normal;
	    font-size: 14px;
	    line-height: 14px;
	    margin-right: 15px;
	    float: left;
	    text-transform: uppercase;
	}
	.nav-opener span{
	    -webkit-transition:all .2s; /* Chrome, Safari, Opera */
	    -ms-transition:all .2s; /* IE 9 */
	    -moz-transition:all .2s; /* Standard syntax */
	    transition:all .2s; 
	}
	.opener-inner{
	    position: relative;
	    width: 32px;
	    height: 20px;
	    float: left;
	}
	.opener-inner span{
	    display: block;
	    background: #fff;
	    height: 2px;
	    transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	}
	.opener-inner span:nth-child(2){
	    top: 9px;
	}
	.opener-inner span:nth-child(3){
	    top: 18px;
	}
	.menu-expend span:nth-child(1){
	  position: absolute;
	  top: 44%;
	  transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  margin-bottom: 0;
	  width: 100%;
	}
	.menu-expend span:nth-child(2){
	    opacity: 0;
	}
	.menu-expend span:nth-child(3) {
	  position: absolute;
	  top: 9px;
	  transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  width: 100%;
	}






    nav.main-nav > ul{
        position: absolute;
        left: -15px;
        right: -15px;
        top: 100%;
        background-color: rgba(255, 255, 255, 1);
        z-index: 99;
        width: auto;
        border-top: 1px solid #ccc;
        padding: 45px 15px 20px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16);
        -ms-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.16);
        display: none;
    }  
    nav.main-nav > ul > li{
        display: block;
        text-align: center;
        float: none;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .hdr-right .header-rgt-menu ul li a {
        font-size: 17px;
    }


    /* .hdr-right .header-rgt-menu ul li a {
        color: #000;
    }     */
    nav.main-nav > ul > li > a::after {
        border-bottom: 3px solid #000;
    }
    nav.main-nav > ul,
    nav.main-nav ul li a{
        transform: initial!important;
        transition: initial!important;
    }
    .header nav.main-nav > ul {
        top: -27px;
        left: 0;
        right: 0;
    }



}

@media(max-width: 767px){
	.hdr-rgt-acc li:nth-child(1) {
	    padding: 8px 13px 8px 0;
	}
	.hdr-rgt-acc li:nth-child(2) {
	    padding: 7px 12px 8px;
	}
	.hdr-rgt-acc li:nth-child(3) {
		padding: 8px 0 8px 13px;
	    border-left: 1px solid #fff;
	}
	.header-left {
	    float: left;
	    width: 40%;
	}
	.header-right {
	    width: 60%;
	    padding-right: 0;
	}
}

@media(max-width: 575px){


}

@media(max-width: 479px){
	.hdr-rgt-acc li:nth-child(1) {
	    padding: 8px 9px 8px 0;
	}
	.hdr-rgt-acc li:nth-child(2) {
	    padding: 7px 9px 8px;
	}
	.hdr-rgt-acc li:nth-child(3) {
		padding: 8px 0 8px 9px;
	    border-left: 1px solid #fff;
	}
	.hdr-rgt-acc li:last-child a img {
	    padding-right: 0;
	}

}

@media(max-width: 359px){

}




































































































/*
---------------------
main-slider-sec-wrp
---------------------
*/
.slider-wrp{
	position: relative;
}
.mainsliderarrows-wrp {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
}
.main-slide-item{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	/* min-height: 740px !important; */
}
.main-slide-item{
	padding-top: 340px;
	padding-bottom: 120px;
}
.main-slide-item-dsc{
	max-width: 830px;
	width: 100%;
	color: #fff;
	position: relative;
}
.main-slide-item-dsc h1,
.main-slide-item-dsc strong{
	font-family: 'Abril Fatface', cursive;
	display: inline-block;
	vertical-align: baseline;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-size: 70px;
	line-height: 88px;
}
.main-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
}
.main-slide-item-dsc hr {
    margin-top: 0;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px dashed #fff;
}
.main-slide-item-dsc em {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
}
.main-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 40px;
	position: absolute;
	top: 11px;
	left: -60px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.main-slide-item-dsc a:hover{
	top: 18px;
}
.main-slide-item-dsc a img{
	width: 100%;
}
.main-slider .main-slide-item{
	display: none !important;
}
.main-slider .main-slide-item:first-child{
	display: block !important;
}
.main-slider.slick-initialized .main-slide-item{
	display: block !important;
}
.main-slider.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.main-slider .slick-dots{
    position: relative;
    bottom: 105px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.specialProductsSlider .slick-dots{
    position: relative;
    bottom: 0;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    max-width: 830px;
    padding-right: 25px;
    padding-top: 12px;
    width: 100%;
}
.specialProductsSlider .slick-dots li,
.main-slider .slick-dots li{
	background-image: url(../images/main-slider-slick-dots.png);
	background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 3px;
    display: inline-block;
    vertical-align: baseline;
    float: none;
}
.specialProductsSlider .slick-dots li,
.specialProductsSlider .slick-dots li button,
.specialProductsSlider .slick-dots li button:before;
.main-slider .slick-dots li,
.main-slider .slick-dots li button,
.main-slider .slick-dots li button:before{
	width: 12px;
	height: 12px;
	padding: 0;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.specialProductsSlider .slick-dots li button::before,

.main-slider .slick-dots li button::before{
	content: "";
}
.specialProductsSlider .slick-dots li.slick-active,
.specialProductsSlider .slick-dots li:hover,
.main-slider .slick-dots li.slick-active,
.main-slider .slick-dots li:hover{
	background-image: url(../images/main-slider-slick-dots-ho.png);
	background-size: 12px 12px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.main-slider .slick-current .main-slide-item-dsc{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.main-slider .slick-current .main-slide-item-dsc h1,
.main-slider .slick-current .main-slide-item-dsc strong{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.main-slider .slick-current .main-slide-item-dsc hr{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.main-slider .slick-current .main-slide-item-dsc em{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.main-slider .slick-current .main-slide-item-dsc i{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
.hm-food-two-part-sec{

}
.hm-food-lft-part{
	padding-left: 15px;
}
.hm-food-rgt-part{
	padding-right: 15px;
}
.hm-food-lft-part,
.hm-food-rgt-part{
	width: 50%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	min-height: 682px !important;
	color: #fff;
}
.hm-food-lft-part-innr{
	max-width: 600px;
	width: 100%;
	float: right;
	padding: 360px 154px 20px 0;
	position: relative;
}
.hm-food-rgt-part-innr{
	max-width: 600px;
	width: 100%;
	float: left;
	padding: 360px 33px 20px 120px;
	position: relative;
}
.hm-food-lft-part-innr h3,
.hm-food-rgt-part-innr h3{
	line-height: 64px;
	margin-bottom: 20px;
}
.hm-food-lft-part-innr p,
.hm-food-rgt-part-innr p{
	line-height: 28px;
}
.hm-food-lft-part-innr a{
	position: absolute;
	top: 50px;
	right: 120px;
	max-width: 80px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.hm-food-rgt-part-innr a{
	position: absolute;
	top: 50px;
	right: 0;
	max-width: 80px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.hm-food-lft-part-innr a img,
.hm-food-rgt-part-innr a img{
	width: 100%;
}
.hm-food-lft-part-innr a:hover{
	right: 113px;	
}
.hm-food-rgt-part-innr a:hover{
	right: -7px;
}
.special-products-sec{
	position: relative;
	overflow: hidden;
}
.special-products-sec::after{
	content: "";
	position: absolute;
	background: #F8F8F8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
	z-index: 2;
}
.special-products-innr{
	background: #F8F8F8;
	position: relative;
	z-index: 3;
	padding: 55px 0;
	min-height: 643px;
}
.special-products-des {
	max-width: 350px;
	width: 100%;
	padding: 85px 40px 30px 0;
}
.special-products-des h3,
.special-products-des h4{
	line-height: 65px;
	color: #8D9E2F;
	margin-bottom: 20px;
}
.special-products-des p{
	line-height: 28px;
}
.special-products-slider-wrp{
	padding: 55px 0 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 33%;
	z-index: 10
}
.specialProductsSlider{
	position: relative;
	height: 100%;
}
.specialProductsSlider .slick-slide {
    margin:0 8px;
}
.specialProductsSlider-item{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	color: #FFFFFF;
	position: relative;
	z-index: 1;
}
.specialProductsSlider-item-innr{
	padding:100px 70px 95px 23px;
	position: relative;	
	z-index: 3;
	min-height: 470px;
}
.specialProductsSlider-item span{
	display:block;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 3.25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.specialProductsSlider-item h4{
	line-height: 48px;
	margin-bottom: 55px;
}
.specialProductsSlider-item h4 a{
	color: #FFFFFF;
}
.specialProductsSlider-item-innr > a{
	position: absolute;
	bottom: 30px;
	left: 25px;
	display: inline-block;
	vertical-align: baseline;
	padding: 9px 41px 17px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #8D9E2F;
}
.specialProductsSlider-item-innr > a:hover{
	border: 2px solid #8D9E2F;
	background: #f8f8f8;
}
.specialProductsSlider-item-innr > i{
	position: absolute;
	top: 25px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
	
}
.specialProductsSlider-item-innr > i.active,
.specialProductsSlider-item-innr > i:hover{
	color: #000;
}
.specialProductsSlider-item::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;  
	background: #0000002e;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1;
}
.specialProductsSlider-item::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #8D9E2F;
	opacity: 0;
    -webkit-transform: perspective(100px) rotateX(90deg);
    -ms-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    transform-origin: center bottom 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
}
.specialProductsSlider-item:hover::after{
    opacity: .77;
    -webkit-transform: perspective(100px) rotateX(0);
    -ms-transform: perspective(100px) rotateX(0);
    transform: perspective(100px) rotateX(0);
}
.banner-section{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	padding-top: 215px;
	padding-bottom: 225px;
}
.banner-sct-inner h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 78px;
}
#hm-new-product-sec {
    padding-top: 20px;
    padding-bottom: 60px;
}








@media(max-width: 1499px){

}

@media(max-width: 1399px){
.main-slide-item-dsc {
    max-width: 875px;
    width: 100%;
    color: #fff;
    position: relative;
    padding-left: 45px;
}
.main-slide-item-dsc a {
    left: -6px;
}
.main-slider .slick-dots {
    max-width: 1130px;
}
}

@media(max-width: 1299px){
	.hm-food-lft-part-innr {
	    padding: 270px 75px 20px 0;
	}
	.hm-food-rgt-part-innr {
	    padding: 270px 33px 20px 75px;
	}
.hm-food-lft-part, .hm-food-rgt-part {
    min-height: 610px !important;
}


}

@media(max-width: 1199px){
	.main-slider .slick-dots {
	    max-width: 1199px;
	}
	.hm-food-lft-part-innr {
	    padding: 230px 15px 20px 0;
	}
	.hm-food-rgt-part-innr {
	    padding: 230px 0 20px 15px;
	}
	.hm-food-lft-part, .hm-food-rgt-part {
	    min-height: 570px !important;
	}
	.hm-food-lft-part-innr a {
	    right: 15px;
	}
	.hm-food-lft-part-innr a:hover {
	    right: 8px;
	}

}

@media(max-width: 991px){
	.hm-food-lft-part, .hm-food-rgt-part {
	    min-height: 500px !important;
	}

	.special-products-slider-wrp {
	    padding: 30px 0 10px;
	    position: static;
	}
	.special-products-sec::after {
	    content:none;
	}
	.special-products-sec {
	    background: #F8F8F8;
	}
	.special-products-innr {
	    padding: 55px 0 0;
	    min-height: initial;
	}
	.special-products-des {
	    max-width: initial;
	    padding: 0;
	}
}

@media(max-width: 767px){
	.hm-food-lft-part {
		width: 100%;
	    padding-right: 15px;
	}
	.hm-food-rgt-part{
		width: 100%;
		padding-left: 15px;
	}
	.hm-food-lft-part-innr {
	    padding: 170px 0 20px 0;
	    max-width: initial;
	}
	.hm-food-rgt-part-innr {
	    padding: 170px 0 20px;
	    max-width: initial;
	}
	.hm-food-lft-part, .hm-food-rgt-part {
	    min-height: 430px !important;
	}
	.hm-food-rgt-part-innr a:hover,
	.hm-food-lft-part-innr a,
	.hm-food-lft-part-innr a:hover {
	    right: 0;
	}
	.specialProductsSlider-item-innr {
	    padding: 90px 15px 95px;
	    min-height: 410px;
	}


}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}