
header.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}
header.header::after{
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	top: 60px;
	height: 57px;
	z-index: 6;
	background: #8D9E2F;
}
.header-innr{ 
    position: relative;
    z-index: 7;
}
.header-left{
    float: left;
    width: 15%;
}
.header-right {
    float: right;
    width: 85%;
    padding-right: 6px;
    padding-left: 10px;
}
.header-logo a{
    max-width:150px;
    display: inline-block;
    vertical-align: baseline;
}
.header-logo a img{
    width: 100%;
}
.hdr-rgt-acc{
    padding: 6px 0 7px;
}
.hdr-rgt-acc li{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px 8px 17px;
}
.hdr-rgt-acc li:nth-child(1){
	padding: 8px 40px 8px 0;
    border-right: 1px solid #fff;
}
.hdr-rgt-acc li:nth-child(2){
    padding: 7px 16px 8px 17px;
}
.hdr-rgt-acc li:nth-child(3){
    padding: 8px 3px 8px 22px;
    border-left: 1px solid #fff;    
}
.hdr-rgt-acc a {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
.hdr-rgt-acc a:hover{
    color: #ccc;
}
.hdr-rgt-acc li a img{
	padding-right: 4px;
}
.hdr-rgt-acc li:last-child a img{
	padding-right: 12px;
}
.hdr-main-menu-controlar {
    padding: 17px 0 15px;
}
nav.main-nav{
    float: right;
}
nav.main-nav ul li,
nav.main-nav > ul > li > a{
    display: inline-block;
    vertical-align: baseline;
}
nav.main-nav > ul > li{
    padding: 0 32px;
}
nav.main-nav > ul > li:first-child{
    padding-left: 0;
}
nav.main-nav > ul > li:last-child{
    padding-right: 0;
}
nav.main-nav > ul > li:first-child{
    padding-left: 0;
}
nav.main-nav > ul > li > a {
	font-family: Roboto;
	font-weight: 500;
    display: inline-block;
    position: relative;
    vertical-align: baseline;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
    padding-bottom: 2px;
}
nav.main-nav > ul > li > a::after{
    border-bottom: 2px solid #fff;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    right: 0;
    position: absolute;
    top: 100%;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform-origin: center center 0;
    transition: all 0.15s ease-out 0s;
    width: 100%;
}
nav.main-nav > ul > li > a:hover::after{
    transform: scale(1, 1);
}
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
    background: #0000!important;
}





































/*
---------------------
main-slider-sec-wrp
---------------------
*/
.slider-wrp{
	position: relative;
}
.mainsliderarrows-wrp {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
}
.main-slide-item{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	/* min-height: 740px !important; */
}
.main-slide-item{
	padding-top: 340px;
	padding-bottom: 120px;
}
.main-slide-item-dsc{
	max-width: 830px;
	width: 100%;
	color: #fff;
	position: relative;
}
.main-slide-item-dsc h1,
.main-slide-item-dsc strong{
	font-family: 'Abril Fatface', cursive;
	display: inline-block;
	vertical-align: baseline;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-size: 70px;
	line-height: 88px;
}
.main-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
}
.main-slide-item-dsc hr {
    margin-top: 0;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px dashed #fff;
}
.main-slide-item-dsc i{
	display: inline-block;
	vertical-align: baseline;
	max-width: 40px;
	position: absolute;
	top: 11px;
	left: -60px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.main-slide-item-dsc i:hover{
	opacity: .7;
}
.main-slide-item-dsc i img{
	width: 100%;
}
.main-slider .main-slide-item{
	display: none !important;
}
.main-slider .main-slide-item:first-child{
	display: block !important;
}
.main-slider.slick-initialized .main-slide-item{
	display: block !important;
}
.main-slider.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}



.main-slider .slick-dots{
    position: relative;
    bottom: 127px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.specialProductsSlider .slick-dots{
    position: relative;
    bottom: 0;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    max-width: 830px;
    padding-right: 25px;
    padding-top: 12px;
    width: 100%;
}
.specialProductsSlider .slick-dots li,
.main-slider .slick-dots li{
	background-image: url(../images/main-slider-slick-dots.png);
	background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 3px;
    display: inline-block;
    vertical-align: baseline;
    float: none;
}
.specialProductsSlider .slick-dots li,
.specialProductsSlider .slick-dots li button,
.specialProductsSlider .slick-dots li button:before;
.main-slider .slick-dots li,
.main-slider .slick-dots li button,
.main-slider .slick-dots li button:before{
	width: 12px;
	height: 12px;
	padding: 0;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.specialProductsSlider .slick-dots li button::before,

.main-slider .slick-dots li button::before{
	content: "";
}
.specialProductsSlider .slick-dots li.slick-active,
.specialProductsSlider .slick-dots li:hover,
.main-slider .slick-dots li.slick-active,
.main-slider .slick-dots li:hover{
	background-image: url(../images/main-slider-slick-dots-ho.png);
	background-size: 12px 12px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}


.main-slider .slick-current .main-slide-item-dsc{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.main-slider .slick-current .main-slide-item-dsc h1,
.main-slider .slick-current .main-slide-item-dsc strong{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.main-slider .slick-current .main-slide-item-dsc hr{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.main-slider .slick-current .main-slide-item-dsc em{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.main-slider .slick-current .main-slide-item-dsc i{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
.main-slider .slick-dots{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}









.hm-food-two-part-sec{

}
.hm-food-lft-part{
	padding-left: 15px;
}
.hm-food-rgt-part{
	padding-right: 15px;
}
.hm-food-lft-part,
.hm-food-rgt-part{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	min-height: 682px !important;
	color: #fff;
}
.hm-food-lft-part-innr{
	max-width: 600px;
	width: 100%;
	float: right;
	padding: 360px 154px 20px 0;
	position: relative;
}
.hm-food-rgt-part-innr{
	max-width: 600px;
	width: 100%;
	float: left;
	padding: 360px 33px 20px 120px;
	position: relative;
}
.hm-food-lft-part-innr h3,
.hm-food-rgt-part-innr h3{
	line-height: 64px;
	margin-bottom: 20px;
}

.hm-food-lft-part-innr p,
.hm-food-rgt-part-innr p{
	line-height: 28px;
}

.hm-food-lft-part-innr a{
	position: absolute;
	top: 50px;
	right: 120px;
	max-width: 80px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.hm-food-rgt-part-innr a{
	position: absolute;
	top: 50px;
	right: 0;
	max-width: 80px;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}

.hm-food-lft-part-innr a img,
.hm-food-rgt-part-innr a img{
	width: 100%;
}

.hm-food-lft-part-innr a:hover{
	right: 113px;	
}
.hm-food-rgt-part-innr a:hover{
	right: -7px;
}











.special-products-sec{
	position: relative;
}
.special-products-sec::after{
	content: "";
	position: absolute;
	background: #F8F8F8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
	z-index: 2;
}
.special-products-innr{
	background: #F8F8F8;
	position: relative;
	z-index: 3;
	padding: 55px 0;
	min-height: 643px;
}
.special-products-des {
	max-width: 350px;
	width: 100%;
	padding: 90px 40px 30px 0;
}
.special-products-des h3{
	line-height: 65px;
	color: #8D9E2F;
	margin-bottom: 20px;
}
.special-products-des p{
	line-height: 28px;
}
.special-products-slider-wrp{
	padding: 55px 0 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 33%;
	z-index: 10
}
.specialProductsSlider{
	position: relative;
	height: 100%;
}
.specialProductsSlider .slick-slide {
    margin:0 8px;
}
.specialProductsSlider-item{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	color: #FFFFFF;
	position: relative;
	z-index: 1;
	min-height: 470px;
}
.specialProductsSlider-item-innr{
	padding:100px 70px 95px 25px;
	position: relative;	
	z-index: 3;
}
.specialProductsSlider-item span{
	display:block;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 3.25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.specialProductsSlider-item h4{
	line-height: 48px;
	margin-bottom: 55px;
}
.specialProductsSlider-item h4 a{
	color: #FFFFFF;
}
.specialProductsSlider-item-innr > a{
	position: absolute;
	bottom: 30px;
	left: 25px;
	display: inline-block;
	vertical-align: baseline;
	padding: 10px 42px 18px;
	background: #fff;
	border-radius: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #8D9E2F;
}

.specialProductsSlider-item-innr > i{
	position: absolute;
	top: 25px;
	right: 25px;
	color: #fff;
}

/* .specialProductsSlider-item::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background: #8D9E2F;
	opacity: 0;
    transition: all .3s ease;
}
.specialProductsSlider-item:hover::after{
    opacity: .7;
	right: 0;
	width: 100%;    

} */

.specialProductsSlider-item::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #8D9E2F;
	opacity: 0;
    -webkit-transform: perspective(100px) rotateX(-90deg);
    -ms-transform: perspective(100px) rotateX(-90deg);
    transform: perspective(100px) rotateX(-90deg);
    transform-origin: center top 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
}
.specialProductsSlider-item:hover::after{
    opacity: .7;
    transform: perspective(100px) rotateX(0);

}



