/*
---------------------
main-slider-sec-wrp
---------------------
*/
.slider-wrp{
	position: relative;
}
.mainsliderarrows-wrp {
    position: absolute;
    right: 0;
    bottom: 60px;
    left: 0;
}
.main-slide-item{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}
.main-slide-item{
	padding-top: 340px;
	padding-bottom: 120px;
}
.main-slide-item-dsc{
	max-width: 830px;
	width: 100%;
	color: #fff;
	position: relative;
}
.main-slide-item-dsc h1,
.main-slide-item-dsc strong{
	font-family: 'Abril Fatface', cursive;
	display: inline-block;
	vertical-align: baseline;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-size: 70px;
	line-height: 88px;
}
.main-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
}
.main-slide-item-dsc hr {
    margin-top: 0;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px dashed #fff;
}
.main-slide-item-dsc em {
	display: inline-block;
	vertical-align: baseline;
	font-weight: 500;
	font-size: 25px;
	line-height: 36px;
}
.main-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 40px;
	position: absolute;
	top: 11px;
	left: -60px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.main-slide-item-dsc a:hover{
	top: 18px;
}
.main-slide-item-dsc a img{
	width: 100%;
}
.main-slider > .main-slide-item{
	display: none !important;
}
.main-slider > .main-slide-item:first-child{
	display: block !important;
}
.main-slider.slick-initialized > .main-slide-item{
	display: block !important;
}
.main-slider.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.main-slider .slick-dots{
    position: relative;
    bottom: 105px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.specialProductsSlider .slick-dots{
    position: relative;
    bottom: 0;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    max-width: 830px;
    padding-right: 25px;
    padding-top: 12px;
    width: 100%;
}
.specialProductsSlider .slick-dots li,
.main-slider .slick-dots li{
	background-image: url(../images/main-slider-slick-dots.png);
	background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 3px;
    display: inline-block;
    vertical-align: baseline;
    float: none;
}
.specialProductsSlider .slick-dots li,
.specialProductsSlider .slick-dots li button,
.specialProductsSlider .slick-dots li button:before;
.main-slider .slick-dots li,
.main-slider .slick-dots li button,
.main-slider .slick-dots li button:before{
	width: 12px;
	height: 12px;
	padding: 0;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.specialProductsSlider .slick-dots li button:not(.primary),
.main-slider .slick-dots li button:not(.primary) {
    box-shadow: none!important ;
}
.specialProductsSlider .slick-dots li button::before,

.main-slider .slick-dots li button::before{
	content: "";
}
.specialProductsSlider .slick-dots li.slick-active,
.specialProductsSlider .slick-dots li:hover,
.main-slider .slick-dots li.slick-active,
.main-slider .slick-dots li:hover{
	background-image: url(../images/main-slider-slick-dots-ho.png);
	background-size: 12px 12px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.main-slider .slick-current .main-slide-item-dsc{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.main-slider .slick-current .main-slide-item-dsc h1,
.main-slider .slick-current .main-slide-item-dsc strong{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.main-slider .slick-current .main-slide-item-dsc hr{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.main-slider .slick-current .main-slide-item-dsc em{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.main-slider .slick-current .main-slide-item-dsc a{
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
.hm-food-two-part-sec{

}
.hm-food-lft-part{
	padding-left: 15px;
}
.hm-food-rgt-part{
	padding-right: 15px;
}
.hm-food-lft-part,
.hm-food-rgt-part{
	width: 50%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	min-height: 682px !important;
	color: #fff;
}
.hm-food-lft-part-innr{
	max-width: 600px;
	width: 100%;
	float: right;
	padding: 360px 154px 20px 0;
	position: relative;
}
.hm-food-rgt-part-innr{
	max-width: 600px;
	width: 100%;
	float: left;
	padding: 360px 33px 20px 120px;
	position: relative;
}
.hm-food-lft-part-innr h3,
.hm-food-rgt-part-innr h3{
	line-height: 64px;
	margin-bottom: 20px;
}
.hm-food-lft-part-innr p,
.hm-food-rgt-part-innr p{
	line-height: 28px;
}
.hm-food-lft-part-innr a {
	position: absolute;
	top: 50px;
	right: 120px;
	width: 79px;
	height: 77px;
	border:2px solid #fff;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	-webkit-transition: all 3s ease;
	-ms-transition: all 3s ease;
	transition: all 3s ease;	
}
.hm-food-rgt-part-innr a {
	position: absolute;
	top: 50px;
	right: 0;
	width: 79px;
	height: 77px;
	border:2px solid #fff;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: baseline;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
}
.hm-food-lft-part-innr a:hover,
.hm-food-rgt-part-innr a:hover {
	border:2px solid #8D9E2F;
}
.hm-food-lft-part-innr a i,
.hm-food-rgt-part-innr a i{
	line-height: 70px;
}
.hm-food-lft-part-innr a,
.hm-food-rgt-part-innr a svg {
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.hm-food-lft-part-innr a svg,
.hm-food-rgt-part-innr a svg {
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.hm-food-lft-part-innr a:hover svg,
.hm-food-rgt-part-innr a:hover svg {
	fill:  #8D9E2F!important;
}
.special-products-sec{
	position: relative;
	overflow: hidden;
}
.special-products-sec::after{
	content: "";
	position: absolute;
	background: #F8F8F8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
	z-index: 2;
}
.special-products-innr{
	background: #F8F8F8;
	position: relative;
	z-index: 3;
	padding: 55px 0;
	min-height: 643px;
}
.special-products-des {
	max-width: 350px;
	width: 100%;
	padding: 85px 40px 30px 0;
}
.special-products-des h3{
	line-height: 65px;
	color: #8D9E2F;
	margin-bottom: 20px;
}
.special-products-des p{
	line-height: 28px;
}
.special-products-slider-wrp{
	padding: 55px 0 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 33%;
	z-index: 4;
}
.specialProductsSlider{
	position: relative;
	height: 100%;
}
.specialProductsSlider .slick-slide {
    margin:0 8px;
}
.specialProductsSlider-item{
	color: #FFFFFF;
	position: relative;
	z-index: 1;
}
.specialProductsSlider-item-bg{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	z-index: 2;
}

.specialProductsSlider-item::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;  
	background: #0000002e;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 3;
}
.specialProductsSlider-item::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #8D9E2F;
	opacity: 0;
    -webkit-transform: perspective(100px) rotateX(90deg);
    -ms-transform: perspective(100px) rotateX(90deg);
    transform: perspective(100px) rotateX(90deg);
    transform-origin: center bottom 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 4;
}
.specialProductsSlider-item:hover::after{
    opacity: .77;
    -webkit-transform: perspective(100px) rotateX(0);
    -ms-transform: perspective(100px) rotateX(0);
    transform: perspective(100px) rotateX(0);
}
.specialProductsSlider-item-innr{
	padding:100px 70px 95px 23px;
	position: relative;	
	z-index: 5;
	min-height: 470px;
}
.specialProductsSlider-item span{
	display:block;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 3.25px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.specialProductsSlider-item h4{
	line-height: 48px;
	margin-bottom: 55px;
}
.specialProductsSlider-item h4 a{
	color: #FFFFFF;
}
.specialProductsSlider-item-innr a.sp-btn{
	position: absolute;
	bottom: 30px;
	left: 25px;
	display: inline-block;
	vertical-align: baseline;
	padding: 9px 41px 17px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #8D9E2F;
}
.specialProductsSlider-item-innr a.sp-btn:hover{
	border: 2px solid #8D9E2F;
	background: #f8f8f8;
}
.specialProductsSlider-item-innr a.fa-heart{
	position: absolute;
	top: 25px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;	
	
}
.specialProductsSlider-item-innr .fa-heart.active,
.specialProductsSlider-item-innr .fa-heart:hover{
	color: #000;
}
#hm-new-product-sec {
    padding-top: 20px;
    padding-bottom: 60px;
}



/*
----------------
hm-product-sec-wrp 
----------------
*/
.hm-product-sec-wrp {
    padding-top: 55px;
    padding-bottom: 85px;
}
.hm-product-head {
    padding-bottom: 70px;
}
.hm-product-head h5{
	margin: 0;
	color: #8D9E2F;
	text-align: center;
	line-height: 32px;
}
.hm-product-slider-wrp{
	position: relative;
}
.hm-new-product-slider,
.hm-product-slider{
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}
.hm-product-slider .hm-product-slide-item,
.hm-new-product-slider .hm-product-slide-item{
	display: none !important;
}
.hm-product-slider .hm-product-slide-item:first-child,
.hm-new-product-slider .hm-product-slide-item:first-child{
	display: block !important;
}
.hm-product-slider.slick-initialized .hm-product-slide-item,
.hm-new-product-slider.slick-initialized .hm-product-slide-item{
	display: block !important;
}
.hm-new-product-slide-item,
.hm-product-slide-item{
	text-align: center;
}
.hm-product-item-title h6{
	margin: 0;
	line-height: 35px;
	color: #3B3B3B;
	text-align: center;
	margin-bottom: 2px;
	min-height: 70px;
}
.hm-product-item-title h6 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: initial;
}
.hm-product-item-title h6 a:hover{
	color: #8D9E2F;
}
.hm-product-item-img {
    border-left: 1px solid #9D9D9D;
    padding-top: 25px;
    padding-bottom: 42px;
    min-height: 285px;
    position: relative;
}
.hm-product-item-img-overflow {
    position: absolute;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    overflow: hidden;
}
.hm-new-product-slide-item:nth-child(1) .hm-product-item-img,
.hm-product-slide-item:nth-child(1) .hm-product-item-img{
	border-left: 1px solid #9D9D9D;
}
.hm-new-product-slider .slick-slide.slick-current .hm-product-item-img,
.hm-product-slider .slick-slide.slick-current .hm-product-item-img{
	border-left: transparent;
}
.hm-new-product-slider .slick-slide.slick-current + .slick-slide + .slick-slide + .slick-slide .hm-product-item-img,
.hm-product-slider .slick-slide.slick-current + .slick-slide + .slick-slide + .slick-slide .hm-product-item-img{
  border-left: transparent;
}
.hm-product-item-img img{
	display: inline-block;
	vertical-align: baseline;
}
.hm-product-item-price {
    margin-top: -42px;
    position: relative;
    z-index: 2;
}
.hm-product-item-price strong{
	display:block;
	font-size: 26px;
	line-height: 28px;
	color: #3B3B3B;
	font-weight: 400;
	padding-bottom: 14px;
	font-family: 'Abril Fatface', cursive;
}
.hm-product-item-btn{
	padding-top: 20px;
}
.hm-product-item-btn button{
	border: 2px solid #8D9E2F;
	box-sizing: border-box;
	border-radius: 100px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #8D9E2F;
	max-width: 130px;
	width: 100%;
	height: 46px;
	background: transparent;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	padding: 0;
}
.hm-product-item-btn button:last-child{
	max-width: 114px;
	width: 100%;
	margin-left: 10px;
}
.hm-product-item-btn button:hover{
	background: #8D9E2F;
	color: #fff;
}

/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
.productNewSliderArrows .leftArrow,
.productsliderarrows .leftArrow{
	position: absolute;
	left:0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 4;
	background: url(../images/leftArrow.png);
	background-size: 42px 42px;
}
.productNewSliderArrows .rightArrow,
.productsliderarrows .rightArrow{
	position: absolute;
	right:0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 4;	
	background: url(../images/rightArrow.png);
	background-size: 42px 42px;
}
.productNewSliderArrows .leftArrow,
.productNewSliderArrows .rightArrow,
.productsliderarrows .leftArrow,
.productsliderarrows .rightArrow{
	display: block;
	height: 42px;
	width: 42px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border-radius: 50px;
	opacity: 1;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.productNewSliderArrows .rightArrow:hover,
.productNewSliderArrows .leftArrow:hover,
.productsliderarrows .rightArrow:hover,
.productsliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	opacity: .5;
}


.hm-bitmap-sec-wrp{
	background: url(../images/hm-bitmap-sec-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 530px;
	padding:50px 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-bitmap-sec-wrp:hover{
	opacity: 0.8;
}
.hm-bitmap-dsc-wrp{
	position: relative;
}
.hm-bitmap-lft-dsc{
	float: left;
	color: #fff;
	max-width: 450px;
	width: 100%;
	padding-top: 40px;
}
.hm-bitmap-lft-dsc h3{
	margin: 0;
	line-height: 64px;
	margin-bottom: 10px;
	color: #fff;
}
.hm-bitmap-dsc-btn a{
	position: absolute;
	right: 0;
	top: 0;
	background:url(../images/hm-bitmap-dsc-btn.png);
	background-repeat: no-repeat;
	background-size: 79px 77px;
	width: 79px;
	height: 77px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-bitmap-dsc-btn a:hover{
	background:url(../images/hm-bitmap-dsc-btn-hover.png);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

/*
----------------------
 Responsive Css
----------------------
*/
@media(max-width: 1399px){
	.main-slide-item-dsc {
	    max-width: 875px;
	    width: 100%;
	    color: #fff;
	    position: relative;
	    padding-left: 45px;
	}
	.main-slide-item-dsc a {
	    left: -6px;
	}
	.main-slider .slick-dots {
	   padding-left: 41px;
	}
}


@media(max-width: 1299px){
	.hm-food-lft-part-innr {
	    padding: 270px 75px 20px 0;
	}
	.hm-food-rgt-part-innr {
	    padding: 270px 33px 20px 75px;
	}
	.hm-food-lft-part, .hm-food-rgt-part {
	    min-height: 610px !important;
	}
	.pd-food-two-part-sec .hm-food-rgt-part-innr h3 br,
	.pd-food-two-part-sec .hm-food-rgt-part-innr h3 br{
		display: none !important;
	}
}

@media(max-width: 1199px){
	.main-slide-item-dsc a {
	    left: 0;
	}
	.main-slider .slick-dots {
	    padding-left: 55px;
	}
	.main-slide-item-dsc h1, 
	.main-slide-item-dsc strong {
	    margin-bottom: 25px;
	    font-size: 55px;
	    line-height: 70px;
	}
	.main-slide-item-dsc {
	    padding-left: 50px;
	}
	.hm-food-lft-part-innr {
	    padding: 230px 15px 20px 0;
	}
	.hm-food-rgt-part-innr {
	    padding: 230px 0 20px 15px;
	}
	.hm-food-lft-part, .hm-food-rgt-part {
	    min-height: 570px !important;
	}
	.hm-food-lft-part-innr a {
	    right: 15px;
	}
	.hm-food-lft-part-innr h3,
	.hm-food-rgt-part-innr h3 {
	    line-height: 60px !important;
	}
	.special-products-des h3{
		line-height: 55px;
	}
	.hm-bitmap-lft-dsc h3 {
	    line-height: 58px;
	}
}

@media(max-width: 991px){
	.main-slide-item {
	    padding-top: 300px;
	    padding-bottom: 120px;
	}
	.main-slide-item-dsc h1, 
	.main-slide-item-dsc strong {
	    margin-bottom: 20px;
	    font-size: 48px;
	    line-height: 55px;
	}
	.hm-food-lft-part, 
	.hm-food-rgt-part {
	    min-height: 500px !important;
	}
	.hm-food-lft-part-innr h3,
	.hm-food-rgt-part-innr h3 {
	    line-height: 58px !important;
	}
	.special-products-slider-wrp {
	    padding: 30px 0 10px;
	    position: static;
	}
	.special-products-sec::after {
	    content:none;
	}
	.special-products-sec {
	    background: #F8F8F8;
	}
	.special-products-innr {
	    padding: 55px 0 0;
	    min-height: initial;
	}
	.special-products-des {
	    max-width: initial;
	    padding: 0;
	}
	.special-products-des h3{
		line-height: 50px;
	}
	.special-products-des h3 br{
		display: none;
	}
	.hm-product-item-title h6{
		min-height: 50px;
	}
	.hm-product-item-title h6 br{
		display: none;
	}
	.hm-bitmap-lft-dsc h3 {
	    line-height: 55px;
	}
	.hm-bitmap-sec-wrp {
	    min-height: 480px;
	}
	
}

@media(max-width: 767px){
	.main-slide-item-dsc h1, 
	.main-slide-item-dsc strong {
	    margin-bottom: 20px;
	    font-size: 42px;
	    line-height: 50px;
	}
	.main-slide-item-dsc h1 br, 
	.main-slide-item-dsc strong br{
	    display: none;
	}
	.main-slide-item-dsc em {
	    font-size: 20px;
	    line-height: 30px;
	}
	.main-slide-item-dsc hr {
	    margin-bottom: 18px;
	}
	.main-slide-item-dsc a {
	    max-width: 30px;
	}
	.hm-food-lft-part-innr a {
	    right: 0px;
	}
	.hm-food-lft-part {
		width: 100%;
	    padding-right: 15px;
	}
	.hm-food-rgt-part{
		width: 100%;
		padding-left: 15px;
	}
	.hm-food-lft-part-innr {
	    padding: 170px 0 20px 0;
	    max-width: initial;
	}
	.hm-food-rgt-part-innr {
	    padding: 170px 0 20px;
	    max-width: initial;
	}
	.hm-food-lft-part, .hm-food-rgt-part {
	    min-height: 430px !important;
	}	
	.hm-food-lft-part-innr h3,
	.hm-food-rgt-part-innr h3 {
	    line-height: 55px !important;
	}
	.hm-food-rgt-part-innr h3 br{
	    display: none;
	}
	.specialProductsSlider-item-innr {
	    padding: 80px 15px 90px;
	    min-height: 365px;
	}
	.specialProductsSlider-item h4 {
	    line-height: 42px;
	    margin-bottom: 35px;
	    font-size: 34px;
	}
	.special-products-des h3{
		line-height: 45px;
	}
	.hm-bitmap-sec-wrp{
		min-height: 450px;
	}
	.hm-bitmap-dsc-btn a {
	    background-size: 62px 60px;
	    width: 62px;
	    height: 60px;
	}
	.hm-product-item-img{
		border-left: none;
	}
	.hm-new-product-slide-item:nth-child(1) .hm-product-item-img,
	.hm-product-slide-item:nth-child(1) .hm-product-item-img{
		border-left: none;
	}
	.hm-product-sec-wrp {
	    padding-top: 40px;
	    padding-bottom: 60px;
	}
	.hm-product-head {
	    padding-bottom: 30px;
	}
	.hm-product-slide-item {
	    text-align: center;
	    max-width: 400px;
	    margin: 0 auto !important;
	    display: table !important;
	}
	.hm-bitmap-lft-dsc h3 {
	    line-height: 50px;
	}
	.hm-product-item-img{
		min-height: 250px;
	}
	.hm-product-item-price{
		margin-top: -30px;
	}
}

@media(max-width: 575px){
	.main-slide-item {
	    padding-top: 260px;
	    padding-bottom: 100px;
	}
	.main-slider .slick-dots {
	    position: relative;
	    bottom: 90px;
	}
	.hm-food-lft-part-innr h3,
	.hm-food-rgt-part-innr h3 {
	    line-height: 50px !important;
	}
	.main-slide-item-dsc h1, 
	.main-slide-item-dsc strong {
	    margin-bottom: 20px;
	    font-size: 33px;
	    line-height: 42px;
	}
	.special-products-des h3{
		line-height: 40px;
	}

}

@media(max-width: 479px){
	.hm-food-lft-part-innr h3,
	.hm-food-rgt-part-innr h3 {
	    line-height: 48px !important;
	}
	.specialProductsSlider-item h4 {
	    line-height: 34px;
	    margin-bottom: 28px;
	    font-size: 30px;
	}
	.hm-bitmap-dsc-btn a {
	    background-size: 52px 50px;
	    width: 52px;
	    height: 50px;
	    top: -20px;
	}
	.hm-bitmap-lft-dsc {
	    max-width: 360px;
	    width: 100%;
	    padding-top: 30px;
	}
	.hm-bitmap-lft-dsc h3 {
	    line-height: 45px;
	}

}

@media(max-width: 359px){

}