.hm-product-sec-wrp.listing-new-product {
  padding-top: 45px;
}
.listing-new-product .hm-product-item-title h6 {
  min-height: 72px!important;
}
.listing-new-product .hm-product-item-img {
  padding-top: 25px!important;
  padding-bottom: 27px!important;
}
.listing-new-product .hm-product-item-img strong {
  padding-bottom: 0 !important;
  position: relative !important;
  bottom: -46px !important;
}
.listing-new-product .hm-product-item-btn {
  padding-top: 58px !important;
}








#product-grd-sec {
  padding-top: 52px;
  padding-bottom: 85px;
}
#product-grd-sec .product-grd-item{
  width: 33.333%;
  float: left;
  text-align: center;
  margin-bottom: 80px;
}
#product-grd-sec .product-grd-item:nth-child(3n+1) .hm-product-item-img {
  border-left:0;
  clear: left;
}


#product-grd-sec .hm-product-item-title h6 {
  min-height: 72px!important;
}
#product-grd-sec .hm-product-item-img {
/*   padding-top: 25px!important;
  padding-bottom: 27px!important; */
}
#product-grd-sec .hm-product-item-img strong {
  padding-bottom: 0 !important;
  position: relative !important;
  bottom: -46px !important;
}
#product-grd-sec .hm-product-item-btn {
  padding-top: 58px !important;
}






















































































































#product-grd-sec .load-more-btn{
  width: 100%;
  padding: 100px 0 50px;
  text-align: center;
  float: left;
}
#product-grd-sec .load-more-btn a{
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  vertical-align: baseline;
  font-size: 26px;
  line-height: 35px;
  color: #8D9E2F;
}
#product-grd-sec .load-more-btn a i{
  display: inline-block;
  vertical-align: baseline;
  width: 77px;
  height: 79px;
  border: 2px solid #8D9E2F;
  border-radius: 100%;
  position: relative;
  text-align: center;
}
#product-grd-sec .load-more-btn a img{
  position: absolute;
  top: 50%;
  line-height: 20px;
  width: 26px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
#product-grd-sec .load-more-btn a span{
  display: inline-block;
  vertical-align: baseline;
  margin-top: 10px;
}
#product-grd-sec .load-more-btn a:hover img{
  top: 57%;
}
#product-grd-sec .hm-product-head h5 {
  margin-bottom: 20px;
}





















































































































































































































.pro-select-main{
  max-width: 265px;
  margin: 0 auto;
}
.pro-select-main .bootstrap-select .dropdown-toggle::after{
  content: "";
  position: absolute;
  border: 0!important;
  background-image: url(../images/pro-slc-dwn-inc.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  background-size: 100% 100%;
  top: 40% !important;
  right: 24px !important;
}
.pro-select-main .bootstrap-select.show .dropdown-toggle::after{
  background-image: url(../images/pro-slc-up-inc.png);
  background-repeat: no-repeat;
  top: 40% !important;
  right: 24px !important;
}
.pro-select-main form .bootstrap-select button,
.pro-select-main form .btn-light:not(:disabled):not(.disabled).active, 
.pro-select-main form .btn-light:not(:disabled):not(.disabled):active, 
.pro-select-main form .show > .btn-light.dropdown-toggle {
  background: #8D9E2F;
  border: 0;
  color: #fff;
  text-transform: initial;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 100px;
  padding: 10px 30px 13px;
}
.pro-select-main form .dropdown-item {
  font-weight: 500;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  font-size: 13px;
}
.pro-select-main form .dropdown-menu > .active > a, 
.pro-select-main form .dropdown-menu > .active > a:focus, 
.pro-select-main form .dropdown-menu > .active > a:hover {
  background-color: #f8f8f8;
  color: #000;
}
.pro-select-main form .dropdown-item:focus, 
.pro-select-main form .dropdown-item:hover {
  color: #000;
  text-decoration: none;
  background-color: #f8f8f8;
}
.pro-select-main form .dropdown-menu {
  background-color: #8d994e;
}






.type-pasts-sec.special-products-sec .specialProductsSlider-item-innr > i.active, 
.type-pasts-sec.special-products-sec .specialProductsSlider-item-innr > i:hover {
  color: #D0C300;
}

.type-pasts-sec.special-products-sec .specialProductsSlider-item-innr {
  padding: 100px 40px 95px 25px;
}


