
#listing-zein-grd {
    padding-top: 52px;
    padding-bottom: 85px;
}



#listing-zein-grd .product-grd-item{
  width: 33.333%;
  float: left;
  text-align: center;
  margin-bottom: 80px;
}



#listing-zein-grd .product-grd-item:nth-child(3n+1) .hm-product-item-img {
  border-left:0;
  clear: left;
}


































































































































