
.modal-body {
  padding: 0;
}



/* 
.modal-dialog {
  max-width: 500px;
}

 */


.quick-by-modal-innr-wrp{
  max-width: 1275px;
  margin: 0 auto;
}














.quick-by-modal-main{
  background: #fff;
  padding-left: 100px; 
  padding-right: 110px; 
}































/*
------------------------
single-product-view-sec-wrp
------------------------
*/

  .product-slider-lft-con{
    width: 63%;
    float: left;
    padding-top: 85px;
  }
  .product-slider-wrp{
    overflow: hidden;
  }
  .slider-pro-thumb-slider-wrp{
      float: left;
      width: 17%;
      padding-right: 15px;
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .slider-pro-big-view-wrp {
    width: 83%;
    float: right;
    position: relative;
  }
.product-slider-pro-big-item {
    padding: 0 20px 20px 20px;
    position: relative;
}
.product-slider-pro-big-item img {
  margin: auto;
}
.slider-pro-thumb-img .slick-slide{
  float: none;
}
.slider-item-img {
  width: 92px;
  height: 91px;
  margin-bottom: 18px;
  padding:0;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}
.slider-item-img{
  border: 2px solid #0000;
}
.slick-current .slider-item-img{
  border: 2px solid #000;
}
.slider-item-img i {
  display: table;
  margin: 0 auto;
}
.slider-item-img i img {
  width: 100%;
}
/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
.slider-pro-big-view .product-slider-pro-big-item,
.slider-pro-thumb-img .slider-pro-thumb-img-item{
  display: none !important;
}
.slider-pro-big-view .product-slider-pro-big-item:first-child,
.slider-pro-thumb-img .slider-pro-thumb-img-item:first-child{
  display: block !important;
}
.slider-pro-big-view.slick-initialized .product-slider-pro-big-item,
.slider-pro-thumb-img.slick-initialized .slider-pro-thumb-img-item{
  display: block !important;
}
.thumb-slider-arrows .leftArrow{
  /* content: ""; */
  position: absolute;
  /* background-image: url(../images/pro-thumb-slider-top.png); */
  top:0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}
.thumb-slider-arrows .rightArrow{
  /* content: ""; */
  position: absolute;
  /* background-image: url(../images/pro-thumb-slider-btm.png); */
  bottom: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5; 
}

/* .thumb-slider-arrows .rightArrow:hover,
.thumb-slider-arrows .leftArrow:hover{
  background: #155a72;
} */









.slider-pro-thumb-slider-wrp{
  position: relative;
}