/*
---------------------
sweet-potato-sec-wrp
---------------------
*/
.product-detalis-wrp {
    padding-bottom: 30px;
}
.product-detalis-lft{
	float: left;
	width: 72%;
	padding-left: 105px;
	padding-top: 40px;
}
.product-detalis-rgt{
	float: right;
	width: 28%;
	padding: 115px 55px 20px 20px;
}
.product-big-slider-wrp {
    float: right;
    width: 87%;
    padding-top: 55px;
    padding-left: 115px;
}
.product-thumb-slider-wrp {
    position: relative;
    padding: 70px 0 75px;
    float: left;
    width: 13%;
}
.product-thumb-img {
    width: 92px;
    height: 93px;
    margin: 0 auto;
}
.slick-current .product-thumb-img{
    border: 2px solid #000;
    overflow: hidden;
}
.product-thumb-img img {
    width: 100%;
    height: 100%;
}
.product-detalis-tp{
	float: right;
	width: 100%;
	text-align: right;
}
.product-detalis-tp strong{
	font-size: 40px;
	line-height: 42px;
	color: #3B3B3B;
	font-weight: 400;
	display: inline-block;
	vertical-align: baseline;
	font-family: 'Abril Fatface', cursive;
}
.product-detalis-btn {
    padding-top: 60px;
    float: right;
    max-width: 132px;
}
.product-detalis-btn button{
	display: block;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #8D9E2F;
	font-weight: 500;
	height: 46px;
	background:transparent;
	border: 2px solid #8D9E2F;
	box-sizing: border-box;
	border-radius: 100px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	padding: 0;
	box-shadow: none;
}
.product-detalis-btn button:first-of-type{
	max-width: 131px;
	width: 100%;
	float: right;
}
.product-detalis-btn button:last-of-type{
	margin-top: 21px;
	max-width: 113px;
	width: 100%;
	float: right;
}
.product-detalis-btn button:hover{
	background:#8D9E2F;
	color: #fff;
}

.product-detalis-select form label {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    margin-bottom: 10px;
}

/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
.ThumbSliderArrows .leftArrow,
.ThumbSliderArrows .rightArrow{
	position: absolute;
	left:50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 5;
}
.ThumbSliderArrows .leftArrow{
	top: 0;
	background: url(../images/pro-thumb-slider-top.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: center center;
}
.ThumbSliderArrows .rightArrow{
	bottom: 0;	
	background: url(../images/pro-thumb-slider-btm.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: center center;
}
.ThumbSliderArrows .leftArrow,
.ThumbSliderArrows .rightArrow{
	display: block;
	height: 42px;
	width: 42px;
	cursor: pointer;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border-radius: 50px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.product-tab {
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 0;
}
.pd-food-two-part-sec .hm-food-rgt-part-innr{
    max-width: 650px;
}
.pd-food-two-part-sec .hm-food-rgt-part-innr p{
	padding-right: 30px;
}
.product-sec .hm-product-item-price{
	margin-top: -15px;
}
.product-sec .hm-product-head {
    padding-bottom: 35px;
}

.product-detalis-select .modal-select .bootstrap-select .dropdown-toggle::after {
    top: 15px !important;
    right: 7px !important;
}
.product-detalis-select .modal-select .bootstrap-select button,
.product-detalis-select .modal-select .btn-light:not(:disabled):not(.disabled).active,
.product-detalis-select .modal-select .btn-light:not(:disabled):not(.disabled):active,
.product-detalis-select .modal-select .show > .btn-light.dropdown-toggle{
	padding: 10px 20px 8px;
}
.product-detalis-select .modal-select{
	margin-bottom: 32px;
}

/*
----------------------
 Responsive Css
----------------------
*/


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.product-thumb-slider-wrp {
	    width: 16%;
	}
	.product-big-slider-wrp {
	    width: 84%;
	    padding-top: 55px;
	    padding-left: 60px;
	}
	.pd-food-two-part-sec .hm-food-lft-part-innr h3 br,
	.pd-food-two-part-sec .hm-food-rgt-part-innr h3 br{
		display: none;
	}

}

@media(max-width: 991px){
	.product-detalis-lft {
	    padding-left: 20px;
	}
	.product-thumb-img {
	    width: 74px;
	    height: 74px;
	}
	.product-big-slider-wrp {
	    width: 84%;
	    padding-left: 30px;
	    text-align: center;
	}
	.product-detalis-rgt {
	    padding: 115px 40px 20px 20px;
	}
	
}

@media(max-width: 767px){
	.product-detalis-rgt {
	    padding: 40px 20px 20px 20px;
	    width: 100%;
	}
	.product-detalis-lft {
	    padding-left: 0;
	    width: 100%;
	}
	.product-big-slider-wrp {
	    width: 100%;
	    padding-left: 0;
	    text-align: center;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.product-thumb-slider-wrp {
	    width: 100%;
	    padding: 0;
	}
	.ThumbSliderArrows .leftArrow {
	    top: 27px;
	    left: 15px;
	    transform: none;
	    background: url(../images/leftArrow.png);
		background-size: 42px 42px;
		background-repeat: no-repeat;
	}
	.ThumbSliderArrows .rightArrow {
	    bottom: 28px;
	    right: 15px;
	    left: auto;
	    transform: none;
	    background: url(../images/rightArrow.png);
		background-size: 42px 42px;
		background-repeat: no-repeat;
	}
	.product-thumb-slider-wrp {
	    width: 100%;
	    position: relative;
	}
	.product-thumb-slider{
		max-width: 430px;
		width: 100%;
		margin: 0 auto;
	}
	.product-thumb-img {
	    width: 93px;
	    height: 93px;
	}
	.product-big-slider .slick-slide img {
	    display: inline-block;
	}
	.product-detalis-select.text-right{
		text-align: center !important;
	}
	.product-detalis-select form label {
	    text-align: center;
	}
	.product-detalis-tp {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.product-detalis-btn {
	    padding-top: 40px;
	    float: none;
	    max-width: 132px;
	    margin: 0 auto;
	}
	.product-detalis-btn button:first-of-type {
	    float: none;
	}
	.product-detalis-btn button:last-of-type {
	    float: none;
	    margin: 0 auto;
	    margin-top: 20px;
	}
}

@media(max-width: 575px){
	.ThumbSliderArrows .leftArrow {
	    top: 27px;
	    left: 0px;
	    transform: none;
	    background: url(../images/leftArrow.png);
		background-size: 42px 42px;
		background-repeat: no-repeat;
	}
	.ThumbSliderArrows .rightArrow {
	    bottom: 28px;
	    right: 0;
	    left: auto;
	    transform: none;
	    background: url(../images/rightArrow.png);
		background-size: 42px 42px;
		background-repeat: no-repeat;
	}
	.product-thumb-slider {
	    max-width: 360px;
	    width: 100%;
	    margin: 0 auto;
	}

}

@media(max-width: 479px){
	.product-thumb-slider {
	    max-width: 200px;
	    width: 100%;
	    margin: 0 auto;
	}
}

@media(max-width: 359px){

}